 {% extends 'base.html' %} 
 {% load static %}  
 {% load crispy_forms_tags %} 
 {% block content %}
 <link rel="stylesheet" href="{% static 'css/auth.css' %}">
 <style>
   #agree-box {
    font-size: small;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 12px;
   }
 </style>
 <br><br><br>
<div id="entire">
    <div id="form-ground">
        <div id="side-image">
            <img src="{% static 'images/blog3.png' %}" alt="">
        </div>
      <div id="form" >
          <form action="" method="post">
     {{ form|crispy }}
    {% csrf_token %}
          <p class="text-center" id="agree-box">Enter the password we will send you a reset link</p>
    <input type="submit" value="Reset" class="submit" id="call-to-hire">
</form>
      </div>

    </div>
</div>
    {% endblock %}

  