.container {
    box-shadow: 2px 2px 8px black;
    padding: 30px;
    border-radius: .8em;
    background-color: white;
    width: 70vw
}
.btn .btn-primary {
    background-color: teal;
}
.form-control {
    border: 1px solid teal;
}
label {
    color: black;
    font-weight: bolder;
}
span {
    display: none;
}
body {
    background-color: teal;
}
label {
    color: teal;
}