.socials {
    color: teal;
    font-size: 20px;
    font-weight: bolder;
}
.all-social {
    font-weight: 700;
}
button {
    border-style: solid;
    border: none;
    background-color: teal;
    color: white;
    border-radius: .8em;
    font-size: 20px;
}
button > a {
    color: white;
}
.container-fluid > p {
    color: white;
    font-size: 20px;
    font-style: italic;
    margin-top: 60px;
    float: left;
    left: 0px;
}
h4 {
    margin-top: 300px;
    text-shadow: none;
    float: left;
    left: 800px;
}
.row .col-sm-3 {
    color: gray;
    font-weight: 400;
    font-size: 20px;
    border-bottom: 2px solid rgb(122, 113, 113);
    font-style: 50px;
}


