<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <title>{{ object.title }}</title>
</head>
<body>
    <style>
    p {
        color: teal;
    }
    input[type=submit] {
        color: teal;
        background-color: white;
        border-style: initial;
        border-radius: 2px teal;
    }
</style>
<form action="" method="POST">
    {% csrf_token %}
    <p>Are you sure you wanna delete {{ object.title }}</p>
<input type="submit" value="DELETE">
<button>Back To Home</button>
</form>
</body>
</html>
