  <nav>
      <span>B</span>
      <ul>
        <li><a href="#intro">Intro</a></li>
        <li><a href="#all-about">Skills</a></li>
        <li><a href="#experience">Experience</a></li>
        <li><a href="#portpolio">Portfolio</a></li>
        <li><a href="#education">Education</a></li>
        <li><a href="/" id="call-to-hire">My Blog</a></li>
      </ul>
      <!-- <input type="checkbox" id="checkbox4" class="checkbox4 visuallyHidden" style=" position: absolute; overflow: hidden; 
      clip: rect(0 0 0 0); height: 1px; width: 1px; 
      margin: -1px; padding: 0; border: 0; ">
      <label for="checkbox4">
          <div onclick="toggleMenu()" class="hamburger hamburger4">
              <span class="bar bar1"></span>
              <span class="bar bar2"></span>
              <span class="bar bar3"></span>
              <span class="bar bar4"></span>
              <span class="bar bar5"></span>
          </div> -->
      </label>
    </nav>