<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bukhari Auwal Idris</title>
    <link rel="stylesheet" href="{% static 'css/port/hamburger.css' %}" />
    <link rel="stylesheet" href="{% static 'css/port/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/port/aos.css' %}" />
  </head>
  <body>
    <nav>
      <span>B</span>
      <ul>
        <li><a href="#intro">Intro</a></li>
        <li><a href="#all-about">Skills</a></li>
        <li><a href="#experience">Experience</a></li>
        <li><a href="#portpolio">Portfolio</a></li>
        <li><a href="#education">Education</a></li>
        <li><a href="#" id="call-to-hire">My Blog</a></li>
      </ul>
      <input type="checkbox" id="checkbox4" class="checkbox4 visuallyHidden" style=" position: absolute; overflow: hidden; 
      clip: rect(0 0 0 0); height: 1px; width: 1px; 
      margin: -1px; padding: 0; border: 0; ">
      <label for="checkbox4">
]
          <div onclick="toggleMenu()" class="hamburger hamburger4">
              <span class="bar bar1"></span>
              <span class="bar bar2"></span>
              <span class="bar bar3"></span>
              <span class="bar bar4"></span>
              <span class="bar bar5"></span>
          </div>
      </label>
    </nav>
    <div class="topnav"  data-aos="fade-up"
    data-aos-duration="1000">
      <a href="#intro">Intro</a>
      <div id="myLinks">
        <a href="#intro">Intro</a>
        <a href="#all-about">Skills</a>
        <a href="#experience">Experience</a>
        <a href="#portpolio">Portfolio</a>
        <a href="#education">Education</a>
      </div>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    <section id="intro">
      <div id="overview">
        <h4 id="hi">< Hi, I am /></h4>
        <h1 id="name">Bukhari Auwal Idris</h1>
        <h3 data-aos="flip-left">Software Engineer</h3>
        <div>
          <q>
            i dont just write code that works, i try my best to make it clean,
            readable,<br />
            maintainable, acessible and secure with pushing the limits of what's
            posiible <br />
            in terms of best practices.</q
          >
        </div>
        <div id="button-grp">
          <a href="#" id="cv" data-aos="fade-up-right">Download CV</a>
          <a
            data-aos="fade-up-left"
            href="https://www.linkedin.com/in/bukhari-auwal-idris/"
            id="contact"
            >Contact Me</a
          >
        </div>
      </div>
      <div id="image">
        <img
          src="{% static 'images/bk1.png' %}"
          alt="my picture"
          loading="lazy"
          data-aos="fade-up"
          data-aos-duration="1000"
        />
      </div>
    </section>
    <div id="tell">
      <a
        href="https://www.linkedin.com/in/bukhari-auwal-idris/"
        class="panel"
      >
        <img src="{% static 'images/linkedin.png' %}" alt="" class="social-image" />
        <article>
          <h3>LinkedIn</h3>
          <p>Account</p>
        </article>
      </a>
      <a href="https://github.com/Bukharee" class="panel">
        <img src="{% static 'images/github1.png' %}" alt="" class="social-image" />
        <article>
          <h3>Github</h3>
          <p>Profile</p>
        </article>
      </a>
      <a
        href="https://twitter.com/BukhariAuwal1"
        class="panel"
      >
        <img src="{% static 'images/twitter.png' %}" alt="" class="social-image" />
        <article>
          <h3>Twitter</h3>
          <p>Profile</p>
        </article>
      </a>
    </div>
    <div id="all-about">
      <h4>Grab Your Coffee And Know More About Me!!!</h4>
      <div id="about">
        <div class="circular">
          <div class="inner"></div>
          <div class="number">
            <img src="{% static 'images/python.png' %}" alt="" style="width: 70px" />
          </div>
          <div class="circle">
            <div class="bar left">
              <div class="load"></div>
            </div>
            <div class="bar python">
              <div class="load"></div>
            </div>
          </div>
        </div>
        <div class="circular">
          <div class="inner"></div>
          <div class="number">
            <img src="{% static 'images/django.png' %}" alt="" style="width: 70px" />
          </div>
          <div class="circle">
            <div class="bar left">
              <div class="load"></div>
            </div>
            <div class="bar django">
              <div class="load"></div>
            </div>
          </div>
        </div>
        <div class="circular">
          <div class="inner"></div>
          <div class="number">
            <img src="{% static 'images/javascript.png' %}" alt="" style="width: 70px" />
          </div>
          <div class="circle">
            <div class="bar left">
              <div class="load"></div>
            </div>
            <div class="bar javascript">
              <div class="load"></div>
            </div>
          </div>
        </div>
        <div class="circular">
          <div class="inner"></div>
          <div class="number">
            <img src="{% static 'images/react.png' %}" alt="" style="width: 70px" />
          </div>
          <div class="circle">
            <div class="bar left">
              <div class="load"></div>
            </div>
            <div class="bar react">
              <div class="load"></div>
            </div>
          </div>
        </div>
        <div class="circular">
          <div class="inner"></div>
          <div class="number">
            <img src="{% static 'images/html.png' %}" alt="" style="width: 70px" />
          </div>
          <div class="circle">
            <div class="bar left">
              <div class="load"></div>
            </div>
            <div class="bar html5">
              <div class="load"></div>
            </div>
          </div>
        </div>
        <div class="circular">
          <div class="inner"></div>
          <div class="number">
            <img src="{% static 'images/css.png' %}" alt="" style="width: 70px" />
          </div>
          <div class="circle">
            <div class="bar left">
              <div class="load"></div>
            </div>
            <div class="bar css">
              <div class="load"></div>
            </div>
          </div>
        </div>
        <div class="circular">
          <div class="inner"></div>
          <div class="number">
            <img src="{% static 'images/git.png' %}" alt="" style="width: 70px" />
          </div>
          <div class="circle">
            <div class="bar left">
              <div class="load"></div>
            </div>
            <div class="bar git">
              <div class="load"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="experience" data-aos="zoom-in">
      <h6 data-aos="fade-down">Experience</h6>
      <h4>Brands I've Work With</h4>
      <br />
      <br />
      <div class="companies">
        <div class="company" data-aos="fade-right" data-aos-delay="50">
          <div class="company-logo">
            <img src="{% static 'images/bright.png' %}" alt="" width="40" />
          </div>
          <div class="card">
            <p class="company-name">Quick Supply</p>
            <p class="title">Software Engineer</p>
            <p class="date">2021 - Present</p>
            <ul data-aos="fade-left" data-aos-delay="50">
              <li>
                Designed Pixel Perfect Layout Using Flexbox And Grid System
              </li>
              <li>
                Followed Material Design Guideline To Develop Components
              </li>
              <li>
                Used Django Template Language to Connect With Backend
              </li>
              <li>
                Setup Continues Intergration to Quickly Reflect Changes To
                Heroku (PaaS)
              </li>
              <li>
                Went Back and Forth In AWS specifically S3 to Store Static Files
              </li>
            </ul>
            <a
              href="https://www.quicksupply.com.ng"
              id="call-to-hire"
              style="float: right"
              >View</a
            >
          </div>
        </div>
        <div class="company" data-aos="fade-left" data-aos-delay="50">
          <div class="company-logo">
            <img src="{% static 'images/bright.png' %}" alt="" width="40" />
          </div>
          <div class="card">
            <p class="company-name">Earewa</p>
            <p class="title">Full-Stack Software Engineer</p>
            <p class="date">2018 - 2021</p>
            <ul data-aos="fade-right" data-aos-delay="50">
              <li>
                Implemented Cart, Order and Products Logics using Python
                (Django)
              </li>
              <li>
                Used Javascript(React) For Frontend and Context API to Manage
                State
              </li>
              <li>
                Intergrated Third Party API's Including That Of Payment and
                Newsletter, Also Used Postgres And Firebase(For Realtime
                Purposes) as Databases
              </li>
              <li>
                Containerize The Whole Application Using Virtual Enviroment
              </li>
            </ul>
            <a href="#" id="call-to-hire" style="float: right">View</a>
          </div>
        </div>
      </div>
    </div>
    <div id="portpolio">
      <br /><br />
      <h6>Portfolio</h6>
      <h4>My Case Studies</h4>
     <div id="personal-projects">
      <div class="project" data-aos="fade-right" data-aos-delay="20">
        <img src="{% static 'images/personal_b.png' %}" alt="">
        <div class="project-detail">
          <span class="tag">Django</span>
          <span class="tag">Python</span>
          <span class="tag">Html & Css</span>
          <h5>Fully Automated University Store</h1>
          <p class="desc">A fully automated store for recording, tracking an 
            disbursing  of university 
            equipmentsts and faculties
          </p>
          <div class="btn-grp">
            <a href="#" class="btn-light">Live</a>
            <a href="#" class="btn-light">Github</a>
          </div>
        </div>
      </div>
      <div class="project" data-aos="fade-up" data-aos-delay="20">
        <img src="{% static 'images/personal_b.png' %}" alt="">
        <div class="project-detail">
          <span class="tag">Django</span>
          <span class="tag">Python</span>
          <span class="tag">Html & Css</span>
          <h5>Educational Gaming Platform</h1>
          <p class="desc">A fully automated store for recording, tracking an 
            disbursing  of university 
            equipmentsts and faculties
          </p>
          <div class="btn-grp">
            <a href="#" class="btn-light">Live</a>
            <a href="#" class="btn-light">Github</a>
          </div>
        </div>
      </div>
      <div class="project" data-aos="fade-up" data-aos-delay="20">
        <img src="{% static 'images/personal_b.png' %}" alt="">
        <div class="project-detail">
          <span class="tag">Django</span>
          <span class="tag">Python</span>
          <span class="tag">Html & Css</span>
          <h5>Searching Algorithm Visualiser</h1>
          <p class="desc">A fully automated store for recording, tracking an 
            disbursing  of university 
            equipmentsts and faculties
          </p>
          <div class="btn-grp">
            <a href="#" class="btn-light">Live</a>
            <a href="#" class="btn-light">Github</a>
          </div>
        </div>
      </div>
      <div class="project" data-aos="fade-up" data-aos-delay="20">
        <img src="{% static 'images/personal_b.png' %}" alt="">
        <div class="project-detail">
          <span class="tag">Django</span>
          <span class="tag">Python</span>
          <span class="tag">Html & Css</span>
          <h5>Small Bussinesses Crediting Website</h1>
          <p class="desc">A fully automated store for recording, tracking an 
            disbursing  of university 
            equipmentsts and faculties
          </p>
          <div class="btn-grp">
            <a href="#" class="btn-light">Live</a>
            <a href="#" class="btn-light">Github</a>
          </div>
        </div>
      </div>
      <div class="project" data-aos="fade-left" data-aos-delay="20">
        <img src="{% static 'images/personal_b.png' %}" alt="">
        <div class="project-detail">
          <span class="tag">Django</span>
          <span class="tag">Python</span>
          <span class="tag">Html & Css</span>
          <h5>Collaborative Word Processing WebApp</h1>
          <p class="desc">A fully automated store for recording, tracking an 
            disbursing  of university 
            equipmentsts and faculties
          </p>
          <div class="btn-grp">
            <a href="#" class="btn-light">Live</a>
            <a href="#" class="btn-light">Github</a>
          </div>
        </div>
      </div>
     </div>
    </div>
    <div id="education">
      <br /><br />
      <h6>Education</h6>
      <h4>My Learning Journey</h4>
      <div id="schools">
        <div class="school" data-aos="fade-right" data-aos-delay="100">
          <h2 class="name">Frontend Masters</h2>
          <p><span>Graduated:</span> July, 2021</p>
          <p>
            <span>Learned:</span> Advance CSS Layout <br />
            and JavaScript + React
          </p>
          <p>
            <span>Remarks:</span>Took Alot of Diffrent <br />
            Courses Taught By Top Engineers Working At
            <br />
            Google, Microsoft and So On, From
            <br />
            The Platform.
          </p>
        </div>

        <div class="school" data-aos="fade-up" data-aos-delay="100">
          <h2 class="name">
            Django For Beginners,<br />
            For Professionals &<br />
            Django3 By Examples
          </h2>
          <p><span>Graduated:</span> Febuary, 2020</p>
          <p><span>Learned:</span> Django and Build Blog Project</p>
          <p>
            <span>Remarks:</span>A Very Decent & Popular <br />
            Book For Learning Django!
          </p>
        </div>

        <div class="school" data-aos="fade-left" data-aos-delay="100">
          <h2 class="name">London AppBrewery</h2>
          <p><span>Graduated:</span> August, 2020</p>
          <p><span>Learned:</span> Basics Of Flutter</p>
          <p>
            <span>Remarks:</span>Sponsored by Google & Taught by <br />
            Angela A High Rated Instructor On Udemy <br />
            as Well!
          </p>
        </div>
        <div class="school" data-aos="fade-right" data-aos-delay="100">
          <h2 class="name">LinkedIn Learning</h2>
          <p><span>Graduated:</span> March, 2019</p>
          <p><span>Learned:</span>JavaScript Deep Dive</p>
          <p>
            <span>Remarks:</span>One Of The Best <br />
            JavaScript Course Out There, It <br />
            Covers Almost Everything Somebody Needs
          </p>
        </div>
        <div class="school" data-aos="fade-left" data-aos-delay="100">
          <h2 class="name">Udacity</h2>
          <p><span>Graduated:</span> March, 2018</p>
          <p><span>Learned:</span>Python</p>
          <p>
            <span>Remarks:</span>Comprehensively Taught By Juno, A Data
            Scientist <br />
            That Uses Python For Her Day To Day Job
          </p>
        </div>
      </div>
    </div>
    <script src="{% static 'js/port/script.js' %}"></script>
    <script src="{% static 'js/port/aos.js' %}"></script>
    <script>
      AOS.init({
        delay: 1, // values from 0 to 3000, with step 50ms
        duration: 1000, // values from 0 to 3000, with step 50ms
      });
    </script>
  </body>
</html>
