{% extends 'base.html' %} {% load static %} {% block content %}

<br />
<br />
<br />
<br />
<link rel="stylesheet" href="{% static 'css/post_list.css' %}" />
<div class="entire">
  <h1 class="section-title">|FEATURED</h1>
  <div id="top-section">
    {% for post in top_posts %} {% if forloop.counter == 1 %}
    <a href="/detail/{{ post.slug }}">
      <div id="massive-card">
        <img src="{{ post.post_picture.url }}" alt="" />
        <div class="date-comment-views">
          <span>27, Nov, 2018</span>
          <span>200views</span>
          <span>50 Comments</span>
        </div>
        <div class="post-title">Leurom Ipsum Coming through</div>
        <div class="post-description">
          Leurom Ipsum Coming throughLeurom Ipsum Coming throughLeurom Ipsum
          Coming throughLeurom Ipsum Coming throughLeurom Ipsum Coming
          throughLeurom Ipsum Coming throughLeurom Ipsum Coming throughLeurom
          Ipsum Coming through
        </div>
      </div>
    </a>
    {% endif %} {% endfor %}

    <div id="side-posts">
      {% for post in top_posts %} {% if forloop.counter != 0 %}
      <a href="/detail/{{ post.slug }}">
        <div class="side-post">
          <img src="{{ post.post_picture.url }}" alt="" />
          <div class="card-body">
            <div class="date-comment-views">
              <span>27, Nov, 2018</span>
              <span>200views</span>
              <span>50 Comments</span>
            </div>
            <div class="post-title">
              99% of Python Devlopers Dont Actually Know How Tuple Comparison
              Works
            </div>
          </div>
        </div>
      </a>
      {% endif %} {% endfor %}
    </div>
  </div>
  {% for category, posts in post.items %}
  <h1 class="section-title">|{{ category.category }}</h1>
  <section>
    {% for p in posts %}
    <a href="/detail/{{ p.slug }}">
      <article>
        <img src="{{ p.post_picture.url }}" alt="" />
        <div class="card-body">
          <div class="date-comment-views">
            <span>{{p.publish}}</span>
            <span>200views</span>
          </div>
          <div class="post-title">
            99% of Python Devlopers Dont Actually Know How Tuple Comparison
            Works
          </div>
          <div class="post-description">
            Leurom Ipsum Coming throughLeurom Ipsum Coming throughLeurom Ipsum
            Coming throughLeurom Ipsum Coming throughLeurom Ipsum Coming
          </div>
        </div>
      </article>
    </a>
    {% endfor %}
  </section>
  {% endfor %}
</div>
<form action="" method="post">
  {{ subscribingform }} {% csrf_token %}
  <input type="submit" value="subscribe" />
</form>
{% endblock %}
