{% extends 'base.html' %} {% load static %} {% block content %}

<br />
<br />
<br />
<br />
<link rel="stylesheet" href="{% static 'css/post_list.css' %}" />
<div class="entire">
  <h1 class="section-title">|SECTION</h1>
  <div id="top-section">
    <a href="/detail/one/1">
      <div id="massive-card">
        <img src="{% static 'images/personal_b.png' %}" alt="" />
        <div class="date-comment-views">
          <span>27, Nov, 2018</span>
          <span>200views</span>
          <span>50 Comments</span>
        </div>
        <div class="post-title">Leurom Ipsum Coming through</div>
        <div class="post-description">
          Leurom Ipsum Coming throughLeurom Ipsum Coming throughLeurom Ipsum
          Coming throughLeurom Ipsum Coming throughLeurom Ipsum Coming
          throughLeurom Ipsum Coming throughLeurom Ipsum Coming throughLeurom
          Ipsum Coming through
        </div>
      </div>
    </a>
    <div id="side-posts">
      <a href="/detail/one/1">
        <div class="side-post">
          <img src="{% static 'images/personal_b.png' %}" alt="" />
          <div class="card-body">
            <div class="date-comment-views">
              <span>27, Nov, 2018</span>
              <span>200views</span>
              <span>50 Comments</span>
            </div>
            <div class="post-title">
              99% of Python Devlopers Dont Actually Know How Tuple Comparison
              Works
            </div>
          </div>
        </div>
      </a>
      <a href="/detail/one/1">
        <div class="side-post">
          <img src="{% static 'images/personal_b.png' %}" alt="" />
          <div class="card-body">
            <div class="date-comment-views">
              <span>27, Nov, 2018</span>
              <span>200views</span>
              <span>50 Comments</span>
            </div>
            <div class="post-title">
              99% of Python Devlopers Dont Actually Know How Tuple Comparison
              Works
            </div>
          </div>
        </div>
      </a>
      <a href="/detail/one/1">
        <div class="side-post">
          <img src="{% static 'images/personal_b.png' %}" alt="" />
          <div class="card-body">
            <div class="date-comment-views">
              <span>27, Nov, 2018</span>
              <span>200views</span>
              <span>50 Comments</span>
            </div>
            <div class="post-title">
              99% of Python Devlopers Dont Actually Know How Tuple Comparison
              Works
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <h1 class="section-title">|SECTION</h1>
  <section>
    <a href="/detail/one/1">
      <article>
        <img src="{% static 'images/personal_b.png' %}" alt="" />
        <div class="card-body">
          <div class="date-comment-views">
            <span>27, Nov, 2018</span>
            <span>200views</span>
            <span>50 Comments</span>
          </div>
          <div class="post-title">
            99% of Python Devlopers Dont Actually Know How Tuple Comparison
            Works
          </div>
          <div class="post-description">
            Leurom Ipsum Coming throughLeurom Ipsum Coming throughLeurom Ipsum
            Coming throughLeurom Ipsum Coming throughLeurom Ipsum Coming
          </div>
        </div>
      </article>
    </a>
    <a href="/detail/one/1">
      <article>
        <img src="{% static 'images/personal_b.png' %}" alt="" />
        <div class="card-body">
          <div class="date-comment-views">
            <span>27, Nov, 2018</span>
            <span>200views</span>
            <span>50 Comments</span>
          </div>
          <div class="post-title">
            99% of Python Devlopers Dont Actually Know How Tuple Comparison
            Works
          </div>
          <div class="post-description">
            Leurom Ipsum Coming throughLeurom Ipsum Coming throughLeurom Ipsum
            Coming throughLeurom Ipsum Coming throughLeurom Ipsum Coming
          </div>
        </div>
      </article>
    </a>
    <a href="/detail/one/1">
      <article>
        <img src="{% static 'images/personal_b.png' %}" alt="" />
        <div class="card-body">
          <div class="date-comment-views">
            <span>27, Nov, 2018</span>
            <span>200views</span>
            <span>50 Comments</span>
          </div>
          <div class="post-title">
            99% of Python Devlopers Dont Actually Know How Tuple Comparison
            Works
          </div>
          <div class="post-description">
            Leurom Ipsum Coming throughLeurom Ipsum Coming throughLeurom Ipsum
            Coming throughLeurom Ipsum Coming throughLeurom Ipsum Coming
          </div>
        </div>
      </article>
    </a>
  </section>
</div>
{% endblock %}
