<!DOCTYPE html>
<html lang="en">
{% load static  %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <title>{{ user.username }}'s Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <style>
        button {
            border-style: solid;
            border: none;
            background-color: teal;
            color: white;
            border-radius: .8em;
            font-size: 20px;
            padding: 5px;
            border-radius: .8em;
        }

        button>a {
            color: white;
            text-decoration: none;
        }
        .my-col {
            border: 1px solid gray;
            height: 50px;
        }
        .folderta {
            font-size: 60px;
             color: teal;
        }
        .list-group-item a {
            display: block;
            text-decoration: none;
            font-weight: bolder;
        }
        .list-group-item a:hover{
            text-decoration: none;
        }
        .icon {
            color: orange;
        }
    </style>
</head>

<body>
    {% include "header.html" %}
    {% if request.user.is_staff  %}
    <div class="container-fluid top-background"
        style="width: 100%;  height: 280px; margin: 0; padding: 0; background-color: teal; ">
        <img src={% if user.photo %}{{ user.photo.url }}{% else %}{% static 'images/python-logo.jpg' %}{% endif %} class="float-left" alt="..."
            style="border-radius: 7em; height: 13vw; border: 3px solid white; width: 13vw; margin: 50px 30px 8px 40px;">
            <br><br>
            <h4 class="text-center">{{ user.first_name }} {{ user.last_name }}({{ user.username }})</h4>
        <p class="text-center">{{ user.bio }}</p>

    </div>
  <div class="container-fluid" style="margin: 0; padding: 0;">
      <div class="row" style="margin: 0;">
        <div class="col-sm-4" style="margin: 0; padding: 0;">
             <ul class="list-group" style="margin: 0; padding: 0;">
    <li class="list-group-item text-center"><div class="btn-group">
        <strong>SETTINGS <i class="fa fa-cog"></i></strong>
        </div></li>
    <li class="list-group-item "><a href="{% url 'account:edit' %}">EDIT MY DETAILS  <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
    <li class="list-group-item"><a href="{% url 'password_change' %}">CHANGE PASSWORD  <i class="fa fa-lock icon"></i></a></li>
    <li class="list-group-item"><a href="{% url 'password_reset' %}">RESET PASSWORD    <i class="fa fa-unlock-alt icon" aria-hidden="true"></i></a></li>
    <li class="list-group-item"><a href="{% url 'blog:new_post' %}">ADD NEW ARTICLE    <i class="fa fa-plus icon" aria-hidden="true"></i></a></li>
  </ul>
        </div>
        <div class="col-sm-4" style="margin: 0; padding: 0;">
            <ul class="list-group" style="margin: 0; padding: 0;">
   <li class="list-group-item text-center"><div class="btn-group">
       <strong>SETTINGS <i class="fab fa-github"></i></strong>
       </div></li>
   <li class="list-group-item "><a href="{% url 'account:create_folder' %}">CREATE NEW FOLDER <i class="fa fa-plus-circle icon" aria-hidden="true"></i></a></li>
   <li class="list-group-item"><a href="#">DELETE FOLDER <i class="fa fa-trash icon" aria-hidden="true" ></i></a></li>
   <li class="list-group-item"><a href="{% url 'logout' %}">LOGOUT <i class="fa fa-ban icon" aria-hidden="true"></i></a></li>
   <li class="list-group-item"><a href="#" style="color: red">DELETE MY ACCOUNT <i class="fa fa-trash " aria-hidden="true" ></i></a></li>
 </ul>
       </div>
       <div class="col-sm-4" style="margin: 0; padding: 0;">
        <ul class="list-group" style="margin: 0; padding: 0;">
<li class="list-group-item text-center"><div class="btn-group">
   <strong>SOCIALS <i class="fab fa-user"></i></strong>
   </div></li>
<li class="list-group-item "><a href="//{{ user.facebook }}">FACEBOOK  <i class="fab fa-facebook" style="color: blue;"></i></a></li>
<li class="list-group-item"><a href="//{{ user.twitter }}">TWITTER     <i class="fab fa-twitter" style="color: rgb(109, 89, 223);"></i></a></li>
<li class="list-group-item"><a href="//{{ user.github }}">INSTAGRAM   <i class="fab fa-instagram" style="color: hotpink"></i></a></li>
<li class="list-group-item"><a href="mailto:{{user.email}}">EMAIL  <i class="fa fa-envelope" aria-hidden="true" style="color: red"></i></a> </li>
</ul>
   </div>
    </div>
  </div>
 <p class="text-center" style="font-size: large; font-weight: bolder; color: orange;">MY PICTURES</p>
 <div>
 <div class="container">
     <div class="row">
       {% for folder in folder %}
         <div class="col-2">
           <div  class="list-item-inline">
            <a href="{{ folder.get_absolute_url }}"><i class="fa fa-folder folderta" aria-hidden="true"></i></a>
          </div>
          <small class="text-center pl-2">{{folder.name}}</small>
            <p></p>
     </div>
     {% endfor %}
 </div>
 </div>
 <p class="text-center" style="font-size: large; font-weight: bolder; color: orange;">MY POSTS</p>
 {% if post %}
 <div class="container">
 <div class="row">
   {% for post in post %}
   <div class="col-md-4">
     <div class="card mb-4 shadow-sm">
       <img
     src="{% if post.post_picture %}{{ post.post_picture.url }}{% else %}{% static 'images/python-logo.jpg' %}{% endif %}"
     alt="" class="card-img-top" width="100%" height="255">
       <div class="card-body">
         <p class="card-text"><a href="{{ post.get_absolute_url }}">{{post.title.upper}}</a></p>
         <div class="d-flex justify-content-between align-items-center">
           <div class="btn-group">
             <i class="fa fa-comment" style="color:gray"> {{ post.comment_count }}</i><div style="width: 10px;"></div>
             <i class="fa fa-eye" style="color:gray"> {{ post.view_count }}</i><div style="width: 10px;"></div>
           </div>
           <small class="text-muted">{{ post.publish|timesince }} ago</small>
         </div>
       </div>
     </div>
   </div>
   {% endfor %}
</div>
</div>
{% include "pagination.html" with page=posts %}
{% else %}
<p class="text-center">YOU DONT HAVE ANY POST YET</p>
{% endif %}
{% else %}
<div class="container-fluid top-background"
        style="width: 100%;  height: 280px; margin: 0; padding: 0; background-color: teal; ">
        <img src="{% if user.photo %}{{ user.photo.url }}{% else %}{% static 'images/python-logo.jpg' %}{% endif %}" class="float-left" alt="..."
            style="border-radius: 7em; height: 13vw; border: 3px solid white; width: 13vw; margin: 50px 30px 8px 40px;">
            <br><br>
            <h4 class="text-center">{{ user.first_name }} {{ user.last_name }}({{ user.username }})</h4>
        <p class="text-center">{{ user.bio }}</p>

    </div>
  <div class="container-fluid" style="margin: 0; padding: 0;">
      <div class="row" style="margin: 0;">
        <div class="col-sm-4" style="margin: 0; padding: 0;">
             <ul class="list-group" style="margin: 0; padding: 0;">
    <li class="list-group-item text-center"><div class="btn-group">
        <strong>SETTINGS <i class="fa fa-cog"></i></strong>
        </div></li>
    <li class="list-group-item "><a href="{% url 'account:edit' %}">EDIT MY DETAILS  <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
    <li class="list-group-item"><a href="{% url 'password_change' %}">CHANGE PASSWORD  <i class="fa fa-lock icon"></i></a></li>
    <li class="list-group-item"><a href="{% url 'password_reset' %}">RESET PASSWORD    <i class="fa fa-unlock-alt icon" aria-hidden="true"></i></a></li>
    <li class="list-group-item"><a href="{% url 'blog:new_post' %}">ADD NEW ARTICLE    <i class="fa fa-plus icon" aria-hidden="true"></i></a></li>
  </ul>
        </div>
        <div class="col-sm-4" style="margin: 0; padding: 0;">
            <ul class="list-group" style="margin: 0; padding: 0;">
   <li class="list-group-item text-center"><div class="btn-group">
       <strong>SETTINGS <i class="fab fa-github"></i></strong>
       </div></li>
   <li class="list-group-item "><a href="{% url 'account:create_folder' %}">CREATE NEW FOLDER <i class="fa fa-plus-circle icon" aria-hidden="true"></i></a></li>
   <li class="list-group-item"><a href="#">DELETE FOLDER <i class="fa fa-trash icon" aria-hidden="true" ></i></a></li>
   <li class="list-group-item"><a href="{% url 'logout' %}">LOGOUT <i class="fa fa-ban icon" aria-hidden="true"></i></a></li>
   <li class="list-group-item"><a href="#" style="color: red">DELETE MY ACCOUNT <i class="fa fa-trash " aria-hidden="true" ></i></a></li>
 </ul>
       </div>
       <div class="col-sm-4" style="margin: 0; padding: 0;">
        <ul class="list-group" style="margin: 0; padding: 0;">
<li class="list-group-item text-center"><div class="btn-group">
   <strong>SOCIALS <i class="fab fa-user"></i></strong>
   </div></li>
<li class="list-group-item "><a href="{{ user.facebook }}">FACEBOOK  <i class="fab fa-facebook" style="color: blue;"></i></a></li>
<li class="list-group-item"><a href="{{ user.twitter }}">TWITTER     <i class="fab fa-twitter" style="color: rgb(109, 89, 223);"></i></a></li>
<li class="list-group-item"><a href="{{ user.github }}">INSTAGRAM   <i class="fab fa-instagram" style="color: hotpink"></i></a></li>
<li class="list-group-item"><a href="mailto:{{user.email}}">EMAIL  <i class="fa fa-envelope" aria-hidden="true" style="color: red"></i></a> </li>
</ul>
   </div>
    </div>
  </div>
 </div>
  {% endif %}
</body>

</html>
